.wrapper {
  margin: 2em auto 0 auto;
  width: 90%;
}

.pricing {
  width: 100%;
  background-color: rgb(191,248,255);
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}

.options {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  background-color: #fff;
  border: 1px solid rgb(148,218,227);
  border-radius: 3px;
}

.options h3 {
  padding: 1em;
  margin: 0;
  background-color: rgb(148,218,227);
}

.options .details {
  padding: 1em;
  -webkit-box-flex:1;
  -webkit-flex:1 1 auto;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
}

.options .price {
  padding: 1em;
  text-align: center;
  font-size: 150%;
  background-color: rgb(34,32,38);
  color: #fff;
}




