

.card {
  border: 1px solid #000;
  margin: 0 0 1em 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 0 1em 0;
}

.inner {
  padding: 0 10px;
}

.content {
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.card {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid; /* advisory to browser */
}
