input[type="text"] {
  border:1px solid blue;
}

/* anything with a type */
input[type] {
  font-size:120%;
}

/* list of classes contains "box" (substring match) */
*[class~=box] {
  color: red;
}

/* starts with */
a[href^="https"] {
  font-weight: bold;
}

/* ends with */
a[href$=".com"] {
  color:green;
}

/* contains */
a[href*="page"] {
  color:purple;
}

/* contains (case insensitive) */
a[href*="http" i] {
  font-size:12px;
}

