.ex1 {
  height: 200px;
  width: 200px;
  background-color: #999;
  color: #000;
}

.ex2 {
  height: 200px;
  width: 200px;
  background-color: #999;
  color: #000;
  border: 5px solid #666;
}

.ex3 {
  height: 200px;
  width: 200px;
  background-color: #999;
  color: #000;
  border: 5px solid #666;
  padding: 20px;
}

