.a {
  grid-area: content1;
  height: 30em;
}

.b {
  grid-area: image1;
  height: 30em;
}

.c {
  grid-area: content2;
  height: 30em;
}

.d {
  grid-area: image2;
}

.e {
  grid-area: content3;
  height: 30em;
}

.f {
  grid-area: image3;

}

.g {
  grid-area: content4;

}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto ;
  grid-template-areas: 
    "content1 image1 content2"
    "image2 content3 image3"
    "content4 content4 content4";
}

.content {
  flow-into: article; /* pipe into a "thread" called article */
  -webkit-flow-into: article;
  
}

.grid .text {
  flow-from: article;
  -webkit-flow-from: article;
}

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.5em; 
  line-height: 1.6;
  font-weight: 400;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 940px;
}

img {
  width: 100%;
  height: auto;
}